body {
	font-family: "Bliss Light", "Trebuchet MS", sans-serif;
	font-weight: 200;
}
h1 {
	/* font-size: 2.5em; */
	font-size: 120%; /* Style from basic-lti */
	color: #00f; /* Style from basic-lti */
	word-wrap: break-word;
	margin: 5px;
	display: flex;
	align-items: center;
}
h2 {
	/* font-size: 1.5em; */
	font-size: 110%; /* Style from basic-lti */
	color: #00f; /* Style from basic-lti */
	word-wrap: break-word;
	/* margin: 15px; */
	margin: 0; /* Style from basic-lti */
	margin-left: 10px; /* Style from basic-lti */
	padding-top: 10px; /* Style from basic-lti */
}
img {
	border: 0;
}
button {
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
footer {
	width: 100%;
	margin-top: 1em;
	padding: 5px 0 5px 0;
	background-color: #f5f5f5;
	text-align: center;
	font-size: 80%;
}

/* ==================================================================================== */
/* Tool page header divs                                                                */
.slam-title {
	float: left;
}
.slam-description {
	float: left;
}
.course-title {
	clear:both;
	float: left;
	width: 100%;
}
/* ==================================================================================== */
/* containing div for LTI Tool item                                                     */
.lti-tools-container {
	display: grid;
	grid-template-columns: 95%;
	grid-gap: 5px 5px;
	border: 1px solid #222;
	overflow: auto;
/*	height: 300px; */
	margin: 10px;
}
.lti-tool {
	width: 100%;
	margin: 5px;
	padding: 5px;
	border: 2px solid #000;
	background-color: #fbfbfb;
}
.lti-tool-enabled {
	background-color: #cfeecf;
}
.tool-support {
	float: left;
	clear: both;
	padding: 5px 10px;
}
/* ==================================================================================== */
/* Alert message box                                                                    */
.tool-message {
	border: 5px solid;
	position: absolute;
	background: #fffbe6;
	top: 50%;
	left: 10%;
	transform: translate(0px, -50%);
	max-width: 30em;
	padding: 10px;
	z-index: 1;
	display: none;
}
.tool-message-button {
	width: 5em;
	margin: 10px 5px 2px;
	font-size: 1.1em;
}
/* ==================================================================================== */
/* Gear (Settings) Icon                                                                 */
.tool-settings {
	font-size: 3.5em;
	float: right;
	cursor: pointer;
	margin: 5px;
}
/* Save and Cancel buttons for the admin interface */
.admin-button {
	margin: 0px 15px;
	padding: 5px 20px;
	font-size: 1.3em;
}
/* ==================================================================================== */
/* Toggle switches instead of checkboxes                                                */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	float: left;
	margin-right: 0.5em;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: all .3s ease-in;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: all .3s ease-in;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:checked + .slider:before {
	left: 20px;
	transition: all .3s ease-in;
}
/* Rounded sliders */
.slider.round {
	border-radius: 24px;
}
.slider.round:before {
	border-radius: 50%;
}
/* Label for toggles */
.toggle-label {
	float:left;
	font-size:1.2em;
	vertical-align:top;
	margin-right: 0.5em;
	cursor:pointer;
	word-wrap: break-word;
}
/* ==================================================================================== */

/* Platform admin page classes ======================================================== */
table.items, table.shares, table.users, table.lineitems {
  border: 1;
  margin: 10px;
}
table.shares, table.users, table.lineitems {
  border-collapse: collapse;
}
table.shares tr th, table.shares td, table.users tr th, table.users td, table.lineitems tr th, table.lineitems td  {
  border: 1px solid #000;
}
tr.notvisible {
  background-color: #c0c0c0;
}
tr.oddrow {
  background-color: #ffff80;
}
tr.evenrow {
  background-color: #80ffff;
}
span.title {
  font-weight: bold;
}
span.title a {
  text-decoration: none;
}
.aligncentre {
  text-align: center;
}
.alignright {
  text-align: right;
}
span.label {
  display: inline-block;
  width: 11em;
  vertical-align: top;
}
.box {
  float: left;
  border: 2px dashed #00f;
  padding: 1em;
  margin-left: 10px;
  background-color: #ffffc0;
}
.sharebox {
  float: right;
  border: 2px dotted #000;
  padding: 1em;
  margin-right: 10px;
  background-color: #ffffc0;
  text-align: center;
}
.iconcolumn {
  width: 40px;
}
.required {
  color: #f00;
}
.clear {
  clear: both;
  padding-top: 10px;
}
.success, .error {
  border: 1px solid;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}
.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.hide {
  display: none;
}
